name: Security Scan with Trivy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  trivy-scan:
    name: Run Trivy Scanner
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Generate HTML Report
        run: |
          docker run --rm \
          -v "$(pwd):/src" \
          aquasec/trivy:0.50.1 \
          fs /src \
          --format template \
          --template "@/contrib/html.tpl" \
          -o trivy-report.html

      - name: Upload HTML report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-html-report
          path: trivy-report.html
          retention-days: 14
b
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
